{% extends 'admin/base.html' %}

{% block content %}
    <div id="wrapper">

        <div id="page-wrapper" >
            <div id="page-inner">
                <div class="row">
                    <div class="col-md-12">
                     <h2>Отписка</h2>

                       
                    </div>
                </div>
                 <!-- /. ROW  -->
                 <hr />
               <div class="row">
                <div class="col-md-12">
                    <!-- Form Elements -->
                    <div class="panel panel-default">
                        <div class="panel-heading">
                           Подписка по тегам
                        </div>
                        <div class="panel-body">
                            <div class="row">
                                <div class="col-md-6">
                                        <h3>Отписаться от заданий</h3>




                                    <div class="table-responsive">
                                <table class="table table-striped table-bordered table-hover">
                                    <thead>
                                        <tr>
                                            <th>Тип Задания</th>
                                            <th>Пользователь</th>
                                            <th>#Тег</th>
                                            <th>Конкурент</th>
                                    </thead>
                                    <tbody>
                                    {% for item in jobs%}
                                        <tr>
                                            <td>{{format_job_type(item.Job.job_type)}}</td>
                                            <td>{{item.InstaUser.login}}</td>
                                            <td>{{format_none(item.Job.tags)}}</td>
                                             <td>{{item.Job.competitor_name}} </td>


                                        </tr>
                                    {% endfor %}

                                    </tbody>
                                </table>
                            </div>


                                </div>
                            </div>
                        </div>
                    </div>
                     <!-- End Form Elements -->
                </div>

<br>

                                    {% include 'inc/flash_errors.html' %}


                                 
    </div>
                                
                                <div class="col-md-6">

            </div>
                <!-- /. ROW  -->
                <div class="row">
                    <div class="col-md-12">



                    </div>
                </div>
                <!-- /. ROW  -->
    </div>
             <!-- /. PAGE INNER  -->
            </div>
         <!-- /. PAGE WRAPPER  -->
        </div>
  {% endblock %}