    <!DOCTYPE html>
    <html ng-app="pinst">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Продвижение в Instagram | Подписчики в Инстаграм | Реклама в Инстаграм</title>

        <!-- Bootstrap -->
        <link href="{{url_for('static', filename='css/bootstrap.min.css')}}" rel="stylesheet">
        <link href="{{url_for('static', filename='css/owl.carousel.css')}}" rel="stylesheet" type="text/css"/>
        <link href="{{url_for('static', filename='css/owl.theme.css')}}" rel="stylesheet" type="text/css"/>
        <link href="{{url_for('static', filename='css/owl.transitions.css')}}" rel="stylesheet" type="text/css"/>
        <link href="{{url_for('static', filename='css/style.min.css')}}" rel="stylesheet">

        <link rel="shortcut icon" href="/old/favicon.ico" type="image/x-icon">
        <link rel="icon" href="/old/favicon.ico" type="image/x-icon">

        <meta name="description"
              content="Профессиональное продвижение Instagram. Привлечение подписчиков в Инстаграм. Увеличение продаж,
              реклама товаров, услуг, бренда. Никаких ботов, только целевая аудитория!"/>
        <meta name="keywords"
              content="instagram, инстаграм, продвижение instagram, продвижение аккаунта instagram,
              продвижение в инстаграме, продвижение в инстаграм, продвижение через инстаграм, продвижение аккаунта инстаграм"/>
        <meta property="og:site_name" content="Продвижение в Instagram | Подписчики в Инстаграм | Реклама в Инстаграм"/>
        <meta property="og:url" content="http://funinsta.ru"/>
        <meta property="og:title" content="Профессиональное продвижение Instagram"/>
        <meta property="og:image" content="/img/logo2.jpg">

        <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
        <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
        <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
        <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
        <![endif]-->
    </head>
    <body>


    <div id="modal-message" class="modal fade" role="dialog" aria-labelledby="gridSystemModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-body">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-md-12">Спасибо за вопрос! Наш менеджер скоро свяжемся с вами.</div>
                        </div>
                    </div>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->



    <!--    -->
        <div id="popup-form-wrapper" class="disabled popup">
        <div id="customer-select-pcg"></div>
        <button type="button" id="close-form-btn" class="close" aria-hidden="true"><span
                class="glyphicon glyphicon-remove"></span></button>
        <!--    <div id="form-title">Форма заказа</div>-->
        <form role="form" id="buy-form" action="/form/form.php" method="post" accept-charset='utf-8'>
            <input type="hidden" value="3" name="sid">
            <input type="hidden" value="1" name="pid" id="product-field">
            <input type="hidden" value="" name="OutSum" id="out-sum-field">
            <input type="hidden" value="" name="Desc" id="description-field">

            <div class="row first-step">
                <div class="form-group col-md-6 col-sm-6 col-xs-6">
                    <label for="customer-name">Контактное лицо*</label>
                    <input type="text" class="form-control" id="customer-name" name="name" required
                           placeholder="введите имя">
                </div>

                <div class="form-group col-md-6 col-sm-6 col-xs-6">
                    <label for="customer-mail">Email*</label>
                    <input type="email" class="form-control" id="customer-mail" name="mail" required
                           placeholder="введите электронный адрес">
                </div>

                <div class="form-group col-md-6 col-sm-6 col-xs-6">
                    <label for="customer-phone">Телефон</label>
                    <input type="phone" class="form-control" id="customer-phone" name="phone"
                           placeholder="введите телефон">
                </div>

                <div class="form-group col-md-6 col-sm-6 col-xs-6">
                    <label for="customer-instagram">Ссылка на Instagram*</label>
                    <input type="text" class="form-control" id="customer-instagram" name="instagram" required
                           placeholder="введите ссылку на ваш аккаунт">
                </div>

                <div class="form-group col-md-6 col-sm-6 col-xs-6">
                    <label for="customer-phone">Whatsapp</label>
                    <input type="phone" class="form-control" id="customer-phone" name="whatsapp"
                           placeholder="введите телефон">
                </div>

                <div class="form-group col-md-6 col-sm-6 col-xs-6">
                    <label for="customer-skype">Skype</label>
                    <input type="phone" class="form-control" id="customer-phone" name="skype"
                           placeholder="введите никнэйм">
                </div>

                <div id="textarea-wrapper" class="form-group col-md-12">
                    <label for="customer-info">Дополнительная информация</label>
                    <textarea class="form-control" name="info" id="customer-info"
                              placeholder="Целевой город(а), категория пользователей, ссылки на instagram конкурентов"></textarea>
						
                  <input id="popup-buy-btn" type="submit" class="btn"
                           value="Заказать сейчас">
           
                </div>

            </div>

        </form>


    </div>
    <div id="overlay" class="disabled"></div>

    <div id="back-top-btn"><a class="scroll" href="#header"></a></div>

    <header id="header" class="block" data-stellar-background-ratio="0.5">
        <div id="header-inner-wrapper">

            <div id="top-line">
                <div class="container">
                    <div class="row">
                        <!--<div class="col-md-4 col-sm-4">-->
                        <span class="text-center"><span class="colored-text">email:</span> <a
                                href="mailto:pro@funinsta.ru ">probizi@yandex.ru </a>  </span>
                        <!--</div>-->

                        <!--<div class="col-md-4 col-sm-4">-->
                        <span class="text-center"><span class="colored-text">skype:</span> <a
                                href="skype: a1an4d ">Probizi </a> </span>
                        <!--</div>-->

                        <!--<div class="col-md-4 col-sm-4">-->
                        <span class="text-center whats-app"><span class="colored-text">WhatsApp:</span> +7(982)255-69-44</span>
                        <!--</div>-->
                    </div>
                </div>
            </div>

            <div class="container">

                <div id="logo-nav-wrapper" class="row">
                    <div class="col-lg-12 col-md-12 col-sm-12">
                        <div class="navbar navbar-default">
                            <div class="container">
                                <div class="navbar-header">
                                    <a href="../" class="navbar-brand">
<!--                                        inst<span class="selected-text">PR</span>.ru-->
                                    </a>
                                </div>

                                <div id="mobile-menu-button">
                                    <span class="glyphicon glyphicon-align-justify"></span>
                                </div>

                                <ul class="nav navbar-nav navbar-right">
                                    <!--<li><a href="#">приемущества</a></li>-->
                                    <li><a href="#howto">как это работает?</a></li>
                                    <li><a href="#adventages">преимущества</a></li>
                                    <li><a href="#pricing">сколько это стоит?</a></li>
                                    <li><a href="#contacts">контакты</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>

                <div id="title-row" class="row">
                    <div id="title-wrapper" class="col-md-12  col-xs-12">
                        <h1 id="main-title"><span id="custom-text1">
                                Безопасное и эффективное продвижение в <img src="../static/img/inst.png" id="ig-logo" alt="instagram" title="Продвижение в instagram">
<!--                                <span id="custom-text2" class="colored-text">instagram</span>-->
                        </h1>

                        

                        <div class="row action-row buy-wrapper">
						<h2>
                            <i >
                                Попробуйте бесплатно прямо сейчас!</i>
                        </h2>
                            <!--                            <div class="call-to-action">-->
                            <!--                                закажи сейчас!-->
                            <!--                            </div>-->
                            <button id="buy-btn" type="button" class="buy-btn btn btn-default btn-lg">
                                РЕГИСТРАЦИЯ ЗА 30 СЕКУНД
                                <!--<span class="glyphicon glyphicon-thumbs-up" aria-hidden="true"></span>-->
                            </button>

                            <div class="gift">или <a href="http://funinsta.ru/office/user">войти</a> в личный кабинет 
                             
                            </div>

                        </div>
                    </div>

<!--                    <div id="phone" class=" col-md-4  col-xs-12 img-wrapper">-->
<!--                        <img src="img/phone.gif">-->
<!--                    </div>-->
                    <!--<div class="picture-wrapper" data-stellar-ratio="1.1"><img src="img/girl1.png" > </div>-->
                </div>
            </div>

            <div id="down-arrow"></div>
        </div>

    </header>

   

    <div id="instagram-adv" class="block">
        <div class="container">

            <div class="row">
                <div id="smiling-girl-wrapper" class="col-md-4 col-sm-4 col-xs-12"><img src="../static/img/girl1.png"></div>
                <div class="col-md-8 col-sm-8 col-xs-12">
                    <h2>Бизнес в <span class="colored-contrast-text">INSTAGRAM</span></h2>

                    <div class="row  item">
                        <div class="right-wrapper  col-md-12 adv-active">
                            <span> Уровень активности и вовлечения в Instagram в разы выше, чем в Facebook и Вконтакте
                            </span>
                        </div>

                    </div>

                    <div class="row item">

                        <div class="right-wrapper col-md-12 adv-women">
                            <span>70,6% пользователей - женщины</span>
                        </div>
                    </div>

                    <div class="row  item">
                        <div class="right-wrapper col-md-12 adv-auditory">
                            <span>Активная аудитория - 13,5 млн человек в России. Общая аудитория - более 20 млн.
                            </span>
                        </div>
                    </div>


                    <div class="row  item">
                        <div class="right-wrapper col-md-12 adv-phone">
                            <span>Примерно 50% пользователей iPhone и 50% - Android (платежеспособная аудитория)
                            </span>
                        </div>
                    </div>

                    <div class="row  item">
                        <div class="right-wrapper col-md-12 adv-bill">
                            <span>Средний чек покупки из instagram - 6000 руб
                            </span>
                        </div>
                    </div>

                    <div class="row  item">
                        <div class="right-wrapper col-md-12 adv-yang">
                            <span>90% пользователей моложе 35 лет
                            </span>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>


    <div id="howto" class="block gray">
        <div class="container">
            <h2>Как происходит продвижение в Instagram? </h2>

            <div class="container">
                <div class="row">
                    <div class="item col-md-4 col-sm-4 col-xs-12">
                        <div class="img-wrapper">
                            <div id="search-ico" class="ico">
                            </div>

                            <!--<span class="glyphicon glyphicon-search" aria-hidden="true"></span>-->
                        </div>
                        <div class="title"><span class=""> Сбор </span> целевой аудитории</div>
                        <ul class="list">
                            <li class="list-item">использование тематических хэштегов;</li>
                            <li class="list-item">подписчики конкурентов из схожих сфер бизнеса;</li>
                            <li class="list-item">метод геолокации - сбор пользователей по отметкам в различных
                                местах.
                            </li>
                        </ul>
                        <!--                        <div>-->
                        <!--                            Мы находим <span class="title colored-contrast-text">активных пользователей</span> сервиса из Вашей целевой аудитории и нужного города.-->
                        <!--                        </div>-->
                    </div>
                    <div class="item col-md-4 col-sm-4 col-xs-12">
                        <div class="img-wrapper">
                            <div id="person-ico" class="ico">

                            </div>
                            <!--<span class="glyphicon glyphicon-fullscreen" aria-hidden="true"></span>-->
                        </div>
                        <div class="title"><span class=""> Умная фильтрация</span> собранной базы</div>
                        <!--                        <div><span> От имени вашего аккаунта, мы подписываемся на найденных пользоватаелей сети Instagram.</span>-->
                        <ul class="list">
                            <!--                            <li class="list-item">пользователи из нужного города;</li>-->
                            <!--                            <li class="list-item">наличие у аккаунта аватарки;</li>-->
                            <!--                            <li class="list-item">последняя публикация не позже 10 дней;</li>-->
                            <!--                            <li class="list-item">геолокация фотографий;</li>-->
                            <li class="list-item">реальные, активные пользователи из нужного города;</li>
                            <li class="list-item">исключение ботов и коммерческих страниц.</li>
                        </ul>
                    </div>
                    <div class="item last col-md-4 col-sm-4 col-xs-12">
                        <div class="img-wrapper">
                            <div id="spread-ico" class="ico">
                            </div>

                            <!--<span class="glyphicon glyphicon-screenshot" aria-hidden="true"></span>-->
                        </div>
                        <div class="title"><span class=""> Привлечение </span> нужной аудитории</div>
                        <ul class="list">
                            <li class="list-item">подписка по собранной базе (в пределах рекомендованных лимитов)
                            </li>
                            <li class="list-item">лайки по собранной базе (в пределах рекомендованных лимитов)</li>
                        </ul>
                        <!--                        <div><span> Целевая аудитория, заинтересованная в вашем предложении (товаре), <span-->
                        <!--                                    class="colored-contrast-text">подписывается в ответ.</span> </span></div>-->
                    </div>

                </div>
            </div>
        </div>
        <!--            <div class="row">-->
        <!--                <div class="col-md-12 col-xs-12">-->
        <!--                    <h2 class="post colored-contrast-text">-->
        <!--                        Вы получаете новых клиентов!-->
        <!--                    </h2>-->
        <!--                </div>-->
        <!--            </div>-->
    </div>
    </div>
    <!--BLOCK3  ENDED-->
<div class="block block4">
    <div class="container">
      <h2>Вам подойдёт продвижение в INSTAGRAM, если вы: </h2>
      <ul>
        <li>ФОТОГРАФ</li>
        <li>МОДЕЛЬ</li>
        <li>ДИЗАЙНЕР</li>
        <li>САЛОН КРАСОТЫ</li>
        <li>СТУДИЯ</li>
        <li>ИНТЕРНЕТ-МАГАЗИН</li>
        <li>ШОУРУМ</li>
        <li>КАФЕ</li>
        <li>КОВОРКИНГ</li>
        <li>РЕСТОРАН</li>
        <li>ХОСТЕЛ</li>
        <li>ФИТНЕС-КЛУБ</li>
      </ul>
    </div>
  </div>
					
					
					
					
					
					
					
					
                </div>
            </div>
        </div>
    </div>


    <div id="adventages" class="block">
        <div class="container">
            <div class="row">
                <div class="col-md-12 col-sm-12 col-xs-12"></div>
                <h2>Преимущества!</h2>


                <div class="item col-md-4 col-sm-4 col-xs-12">
                    <div id="smart-ico" class="adv-img ico"></div>
                    <div>
                        <div class="title">Автоматизированый процесс!</div>
                        <span><span class="colored-contrast-text">Вы можете автоматизировать</span>
                           проставление лайков, подписку и безопасную отписку.</span>
                    </div>
                </div>

                <div class="item col-md-4 col-sm-4 col-xs-12">
                    <div id="aim-ico" class="adv-img ico"></div>
                    <div>
                        <div class="title">Бесплатная версия</div>
                        <span>Присоединяйтесь к нам сейчас и получите 3 дня бесплатного пользования. Вы сами сможете оценить по достоинству приемущества сервиса FunInsta</span>
                    </div>
                </div>

                <!--                <div class="item col-md-4 col-sm-4 col-xs-12">-->
                <!--                    <div id="like-ico" class="adv-img ico"></div>-->
                <!--                    <div>-->
                <!--                        <div class="title">Рекомендации по ведению аккаунта</div>-->
                <!--                        <span> увеличеие привлекательности аккаунта для привлечения клиентов </span>-->
                <!--                    </div>-->
                <!--                </div>-->

                <div class="item col-md-4 col-sm-4 col-xs-12">
                    <div id="safe-ico" class="adv-img ico"></div>
                    <div>
                        <div class="title">Безопасное продвижение</div>
                        <span>Вы не привысите суточные лимиты подписок, отписок и лайков т.к сервис автоматически остановит работу. Аккаунт не получит бан</span>
                    </div>
                </div>


                <div class="item col-md-4 col-sm-4 col-xs-12">
                    <div id="quality-ico" class="adv-img ico"></div>
                    <div>
                        <div class="title">Целевая аудитория</div>
                        <span>Сервис отберёт только нужных пользователей при помощи поиска по хештегу, собранной аудитории конкурента или геолокации (в разработке).</span>
                    </div>
                </div>

                <div class="item col-md-4 col-sm-4 col-xs-12">
                    <div id="popular-ico" class="adv-img ico"></div>
                    <div>
                        <div class="title">Простота и удобство</div>
                        <span>Сервис на столько прост, что разберется даже школьник.</span>
                    </div>
                </div>

                <div class="item col-md-4 col-sm-4 col-xs-12">
                    <div id="result-ico" class="adv-img ico"></div>
                    <div>
                        <div class="title">Партнерская программа</div>
                        <span>Вы можете стать партнером нашего сервиса и пожизненно получать свои комиссионные</span>
                    </div>
                </div>


            </div>
        </div>
    </div>
    </div> <!--BLOCK ADVANTAGES ENDED-->


    <div id="pricing" class="block">
        <div class="container">
            <div class="row">
                <div class="col-md-12 offer">
                    <h2> Стоимость</h2>
                    <!--                    <h2> Стоимость: всего 1 рубль <strong class="colored-text"> за подписчика</strong>* </h2>-->
                    <!--                    <small>*при покупке 15000 подписчиков и более</small>-->
                </div>
            </div>
            <div class="row">

<!--                <div id="offer0" class="panel panel-default col-md-3 col-sm-4 col-xs-12">-->
<!--                    <div class="panel-heading">-->
<!--                        <div class="title">СуперЭконом</div>-->
<!--                        <div class="price">10р.</div>-->
<!--                    </div>-->
<!--                    <a id='of1' class="order-btn">-->
<!--                        <span>купить</span>-->
<!---->
<!--                    </a>-->
<!---->
<!--                    <div class="panel-body">-->
<!--                        <div class="followers">10</div>-->
<!--                        <div class="days">подписок за 1 дней.</div>-->
<!---->
<!--                        <ul class="features-list">-->
<!--                            <li class="features-item enabled">Сбор активных подписчиков </li>-->
<!--                            <li class="features-item enabled">Работа с целевой аудиторией</li>-->
<!--                            <li class="features-item enabled">Техническая поддержка аккаунта </li>-->
<!--                            <li class="features-item disabled">Рекомендации по продвижению</li>-->
<!--                            <li class="features-item disabled">Отписка от подписок по окончании работ</li>-->
<!--                        </ul>-->
<!--                    </div>-->
<!--                </div>-->

                <div id="offer1" class="panel panel-default col-md-3 col-sm-4 col-xs-12">
                    <div class="panel-heading">
                        <div class="title">Тест-драйв</div>
                        <div class="price">3 дня</div>
                    </div>
                    <a id='of1' class="order-btn">
                        <span>Заказать</span>

                    </a>

                    <div class="panel-body">
                        <div class="followers"></div>
                        <div class="days" style="font-size: 23px;">Бесплатно</div>

                    </div>
                </div>

                <div id="offer3" class="panel panel-default col-md-3 col-sm-4 col-xs-12">
                    <div class="panel-heading">
                        <div class="title">Лайт</div>
                        <div class="price">30 дней</div>
                    </div>
                    <a id='of2' class="order-btn">
                        <span>Купить</span>
                    </a>

                    <div class="panel-body">
                        <div class="followers"></div>
                        <div class="days" style="font-size: 23px;">590 руб</div>

                    </div>
                </div>

                <div id="offer2" class="panel panel-default col-md-3 col-sm-4 col-xs-12">
                    <div class="panel-heading">
                        <div class="title">Оптимально</div>
                        <div class="price">180 дней</div>
                    </div>
                    <a id='of3' class="order-btn">
                        <span>Купить</span>
                    </a>

                    <div class="panel-body">
                        <div class="followers"></div>
                        <div class="days" ><span style="font-size: 23px;"> 3186 руб</span> (скидка 10%) </div>
                    </div>
                </div>

                <div id="offer4" class="panel panel-default col-md-3 col-sm-4 col-xs-12">
                    <div class="panel-heading">
                        <div class="title">Выгодно</div>
                        <div class="price">365 дней</div>
                    </div>
                    <a id='of4' class="order-btn">
                        <span>Купить</span>
                    </a>

                    <div class="panel-body">
                        <div class="followers"></div>
                        <div class="days"> <span style="font-size: 23px;"> 5664 руб </span> (скидка 20%)</div>
                    </div>
                </div>
            </div>

        </div>
    </div>

<div class="container">
      <h2>О сервисе</h2>
    <div class="side-wrapper" align="center" style="font-size: 20px;">
        <p>
        <span class="selected-text">  FunInsta разработан для того, чтобы привлечь внимание к вашему аккаунту Instagram и, как следствие, получить подписки реальных пользоватлей, а также их лайки и комментарии.</span><br>

        </p><p>Изначально, FunInsta разрабатывался для нашего персонального пользования. Нам было необходимо получить больше фоловеров без траты времени на ручную работу. Поэтому мы разработали этот сервис, чтобы сделать процесс проще и эффективнее. Множество людей покупают подписчиков или готовые аккаунты, чтобы их бизнесс-аккаунт выглядел более популярным. Однако, они получают фэйковые аккаунты, на которых не происходит взаимодействие с пользователями.</p>

        <p>С FunInsta вы получите РЕАЛЬНЫХ людей, которым интересна тема вашего аккаунта.Мы работает со знаменитостями, стартапами, брендами и многими другими! Каждый понимает достоинства обладания большим количеством подписчиков и мы поможем вам с этим! С FunInsta вы быстро поднимите свой рейтинг полпулярности в Instagram!</p>
		<p><br></br></p>
      </div>
    </div>

  

    <div id="order" class="block">
        <div class="container">
            <div class="row">
                <div class="order-block">
                    <h2 class="title">
                        У вас есть вопросы?
                    </h2>

                    <div id="dop-text" class="text-center">напишите нам и мы ответим уже сегодня</div>

                    <form id="footer-form" action="form/form.php" method="post" accept-charset='utf-8'>
                        <div class="input-wrapper">
                            <div class="col-md-3 col-xs-12">
                                <input  class="form-control" type="text" name="name" placeholder="Имя" required>
                            </div>
                            <div class="col-md-3 col-xs-12">
                                <input  class="form-control" type="email" name="mail" placeholder="Электронный адрес" required>
                            </div>                                                      
                            <div id="textarea-wrapper" class="col-md-9 col-xs-12">
                                <textarea name="info" class="form-control" placeholder="Вопрос или комментарий"></textarea>
                            </div>
                            <div id="button-wrapper" class="col-md-3 col-xs-12">
                                <input class=" btn btn-default btn-lg footer-buy-btn " type="submit"
                                       value="отправить вопрос">
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <footer>
        <div id="contacts" class="container">
            <div class="row">
                <!--<div class="col-md-4 col-sm-4">-->
                <span class="text-center"><span class="colored-text">email:</span> <a href="mailto:pro@funinsta.ru ">probizi@yandex.ru</a> </span>
                <!--</div>-->

                <!--<div class="col-md-4 col-sm-4">-->
                <span class="text-center"><span class="colored-text">skype:</span> <a
                        href="skype: a1an4d ">Probizi</a></span>
                <!--</div>-->

                <!--<div class="col-md-4 col-sm-4">-->
                <span class="text-center"><span class="colored-text">WhatsApp:</span>  +7(982)255-69-44</span>
                <!--</div>-->
            </div>
			<center><p style="font-size: 14px;">ОГРНИП 313524721700018 ИНН 525111415430 г.Москва ул.Петровка д.26 ст.2 тел. +7 (495) 103-43-25</p></center>
			<div class="off-links" style="font-size: 15px; " align="center">
         

          <a href="oferta.html">Публичная оферта</a>
          <a href="politika-konfidentsialnosti.html">Политика конфиденциальности</a>
          <a href="payment-pay2pay.html">Порядок оплаты через Robokassa</a>
          <a href="guarantees-security.html">Гарантии безопасности</a>

        </div>
        </div>
   

    </footer>


    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="../static/js/angular.min.js"></script>
    <script src="../static/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="../static/js/jquery.stellar.min.js"></script>
    <script type="text/javascript" src="../static/js/owl.carousel.min.js"></script>
    <script type="text/javascript" src="../static/js/app.js"></script>
    <script type="text/javascript" src="../static/js/scripts.min.js"></script>


<!-- BEGIN JIVOSITE CODE {literal} -->
<script type='text/javascript'>
(function(){ var widget_id = 'kvDaIPdU1q';
var s = document.createElement('script'); s.type = 'text/javascript'; s.async = true; s.src = '//code.jivosite.com/script/widget/'+widget_id; var ss = document.getElementsByTagName('script')[0]; ss.parentNode.insertBefore(s, ss);})();</script>
<!-- {/literal} END JIVOSITE CODE -->
<!-- Yandex.Metrika counter -->
<script type="text/javascript">
(function (d, w, c) {
    (w[c] = w[c] || []).push(function() {
        try {
            w.yaCounter33497615 = new Ya.Metrika({id:33497615,
                    webvisor:true,
                    clickmap:true,
                    trackLinks:true,
                    accurateTrackBounce:true});
        } catch(e) { }
    });

    var n = d.getElementsByTagName("script")[0],
        s = d.createElement("script"),
        f = function () { n.parentNode.insertBefore(s, n); };
    s.type = "text/javascript";
    s.async = true;
    s.src = (d.location.protocol == "https:" ? "https:" : "http:") + "//mc.yandex.ru/metrika/watch.js";

    if (w.opera == "[object Opera]") {
        d.addEventListener("DOMContentLoaded", f, false);
    } else { f(); }
})(document, window, "yandex_metrika_callbacks");
</script>
<noscript><div><img src="//mc.yandex.ru/watch/33497615" style="position:absolute; left:-9999px;" alt="" /></div></noscript>
<!-- /Yandex.Metrika counter -->
    </body>
    </html>
