<!DOCTYPE html>
<html lang="ru">
<head>
	<meta charset="utf-8">
	<title>Поздравляем! Ваш заказ принят!</title>
	<link type="text/css" rel="stylesheet" href="{{url_for('static', filename='files/style.css')}}" />
</head>
<body>

	<div class="wrap_block_success">
		<div class="block_success">					
			<h2>Поздравляем! Ваш заказ принят!</h2>
			
			<p class="success">В ближайшее время с вами свяжется оператор для подтверждения заказа. Пожалуйста, включите ваш контактный телефон.</p>
			<h3></h3>
			<div class="wrap_list_info">
				

							<form name="order_all" action="form/form.php" method="post"  class="order_all" id="order_all">
			
		

				
				<p class="fail">Если вы ошиблись при заполнени формы, то, пожалуйста, <a href="/">заполните заявку еще раз</a></p>
				<hr>
				
				
			</form>		

		</div>

	</div>
	
	
